@tailwind base;
@tailwind components;
@tailwind utilities;

    .buy-now{
      background-color: #9042f5;
      color: white;
      padding: 10px 65px 10px 65px;
    }
    .title-fre{
    color: #F5F5F5;
    font-size: 30px;
    font-family: fantasy;
    }
    .title-fren2{
      color: #F5F5F5;
      font-size: 30px;
      width: 17%;
      line-height: 25px;
    }
    
      .title-fren3{
        color: #F5F5F5;
        font-size: 30px;
        line-height: 25px;
      }
      .test-img{
        transition: width 0.5s, height 0.5s, background-color 2s,rotate 2s;
      }
      .last-column{
        width: 17%;
      }

 
